
<!--<p>Date : <span th:text="${products.get(0).getProduct().getName()}">Sat Oct 24 2015</span></p>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large blue">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li><a th:href="@{/add(productType='Book')}" style="font-size: 8px"
               class="btn-floating  btn-large  yellow darken-1">book</a></li>
        <li><a th:href="@{/add(productType='Newspaper')}" style="font-size: 8px"
               class="btn-floating  btn-large  green">newspaper</a></li>
        <li><a th:href="@{/add(productType='Magazine')}" style="font-size: 8px"
               class="btn-floating  btn-large  red">magazine</a></li>
    </ul>
</div>



<div class="row">
<table class="bordered highlight col s4">
    <tr data-th-each="product: ${products}">
        <!-- Will produce 'edit?productId=3' -->
      <td> <a style="font-size: 18px"
              th:href="@{/edit(productId=${product.getProduct().getProductId()})}"
              th:text="${product.getProduct().getName()}"></a>
          <div th:switch="${product.getReadableProductTypeName()}">
              <p th:case="'Book'"><span th:text="${product.getProduct().getAuthor()}"></span></p>
              <p th:case="'Newspaper'">№<span th:text="${product.getProduct().getIssue()}"></span></p>
              <p th:case="'Magazine'">№<span th:text="${product.getProduct().getIssue()}"></span></p>
          </div>
      </td>
        <td  data-th-text="${product.getReadableProductTypeName()}"></td>
        <td><a  th:href="@{/delete(id=${product.getId()})}">
            <i class="material-icons" style="color: #2196F3; size: 10px">delete</i>
        </a></td>

    </tr>
</table>
</div>



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>